:root {
  --brand: #1a1a1a;
  --black: #1a1a1a;
  --black20: hsl(0,0%,20%);
  --black30: hsl(0,0%,30%);
  --black50: hsl(0,0%,50%);
  --white50: hsl(0,0%,50%);
  --white60: hsl(0,0%,60%);
  --white70: #b3b3b3;
  --white: #fff;
  --fs: #368243;
  --og: #F5A51C;
  --tc: #4A72B7;
  --mf: #EE3E23;
  --ps: #699FD4;
  --it: #F16622;
  --df: #F48620;
  --as: #81C581;
  --ut: #32A7DF;
  --am: #2CB466;
  --hc: #f5a51c;
  --ne: #809f3d;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: var(--fs);
}

.App {
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

.App-header {
  background-color: var(--black20);
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: var(--white);
}

.logo-img {
  max-width: 175px;
}

.nav-right {
  display: flex;
  flex-direction: row;
}

.nav-right > a {
  padding: 0 20px;
}

.container {
  padding: 50px 0 100px 0;
  margin: 0 50px;
}

footer {
  background-color: var(--black20);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
  padding: 50px 0;
}

footer > a > p{
  margin: 10px 0;
}

.small-text {
  font-size: 12px;
}

.vis-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.forecast {
  display: inline-block;
  max-width: 600px;
  width: 50%
}

.map {
  padding: 2rem;
  border: 1px solid var(--black50);
}

.usmap {
  width: 1000px;
}

.recharts-wrapper {
  /* border: red 1px solid; */
  width: 50% 
}

.recharts-tooltip-wrapper {
  font-size: 12px;
}

button {
  color: #000;
  font-weight: 700;
  letter-spacing: .15em;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  border-width: 2px;
  border-color: #000;
  border-style: solid;
  width: 210px;
  height: 55px;
  line-height: 51px;
}

button:hover {
  background-color: var(--white70);
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0 0 6px rgba(0,0,0,.25);
  border-radius: 4px;
  padding: 0 .55rem;
  margin-bottom: 50px;;
}

.option-button  {
  cursor: pointer;
  margin-left: 20px;
  padding: .5rem;
  font-size: 12px;
  background-color: none;
  border-radius: 3px;
  color: black;
  
}

.selected {
  cursor: pointer;
  margin-left: 20px;
  padding: .5rem;
  font-size: 12px;
  background-color: var(--ps);
  border-radius: 3px;
  color: white;
}

.rsm-geographies {
  cursor: pointer;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about > div {
  max-width: 50%;
  padding: 0 50px;
}

.about > a {
  padding: 0 5px;
}

.profile {
  max-width: 200px;
  border-radius: 50%;
}

.profile-name {
  font-weight: 300;
  font-size: 24px;
}

.profile-title {
  font-size: 18px;
}

.text-height {
  line-height: 1.5;
  font-weight: 300;
}

.c3-ai-link {
  color: var(--it);
}

.c3-ai-link:hover {
  text-decoration: underline;
}

.c3-ul {
  padding-inline-start: 10px;
  font-size: 18px;
  font-weight: 400;
  margin: 30px 0;
}

li {
  line-height: 2;
  font-weight: 300;
}

.custom-tooltip {
  margin: 0px; 
  padding: 10px; 
  background-color: var(--white); 
  border: 1px solid rgb(204, 204, 204); 
  white-space: nowrap;
}

.tooltip-label {
  margin: 0px;
  font-size: 12px;
}